Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! -----------------------------------------
!! Colors
! -----------------------------------------
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6
! black
*.color0:       #282a2e
*.color8:       #50565F
! red
*.color1:       #a54242
*.color9:       #DA4F4F
! green
! *.color2:       #8c9440
*.color2:       #336f75
*.color10:      #336f75
! yellow
*.color3:       #de935f
*.color11:      #f0c674
! blue
*.color4:       #5f819d
*.color12:      #81a2be
! magenta
*.color5:       #85678f
*.color13:      #b294bb
! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7
! white
*.color7:       #707880
*.color15:      #c5c8c6

#define termbg #1d1f21
#define termfg #c5c8c6
! -----------------------------------------
! *.color0: #1b281d
! *.color1: #917354
! *.color2: #C57544
! *.color3: #7D8178
! *.color4: #A98F69
! *.color5: #C7A26F
! *.color6: #B8BBA5
! *.color7: #e2e8e0
! *.color8: #9ea29c
! *.color9: #917354
! *.color10: #C57544
! *.color11: #7D8178
! *.color12: #A98F69
! *.color13: #C7A26F
! *.color14: #B8BBA5
! *.color15: #e2e8e0
!-------------------------------------------------------------------------------
! ROFI Color theme - Alley
!-------------------------------------------------------------------------------
rofi.font: Iosevka Term Semibold 22
rofi.color-enabled: true
rofi.fullscreen: false
rofi.color-window: #111111, #111111, #111111
rofi.color-normal: #111111, #e8e8e8, #111111, #111111, #5f819d
rofi.color-active: #111111, #aaaaaa, #363b36, #111111, #151615
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
! rofi.color-window: #363b36, #363b36, #363b36
! rofi.color-normal: #363b36, #e1d8cb, #363b36, #87907e, #151615
! rofi.color-active: #363b36, #e1d8cb, #363b36, #87907e, #151615
! rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3

!-------------------------------------------------------------------------------
! URxvt
!-------------------------------------------------------------------------------
!! Appearance
URxvt.termName: rxvt-unicode
URxvt.scrollBar: false
URxvt.foreground: termfg
URxvt*depth: 32
URxvt.background: [95]termbg
URxvt*internalBorder: 30

!! Font preferences
URxvt.font: xft:Iosevka Term:pixelsize=30:weight=Semibold
URxvt.boldFont: xft:Iosevka Term:pixelsize=30:weight=Semibold

!URxvt.font: xft:ShureTechMono Nerd Font:pixelsize=28
!URxvt.boldFont: xft:ShureTechMono Nerd Font:pixelsize=28:weight=bold
!URxvt.letterSpace: -1
!! Larger history limit
URxvt.saveLines: 5000

!! Perl extensions
URxvt.perl-ext-common: default,matcher,font-size 
!! Open urls in browser with Control-Click
URxvt.urlLauncher: /usr/bin/google-chrome
URxvt.matcher.button: C1
!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease

URxvt.dynamicColors: on


! floatingRanger.scrollBar: false
